/* Primitives - Mode 1 */
:root {
  --Foundation-White: #FFFFFFFF;
  --Lime-950: #03190FFF;
  --Lime-900: #06311FFF;
  --Lime-800: #0D633DFF;
  --Lime-700: #13945CFF;
  --Lime-600: #1AC67AFF;
  --Lime-550: #1DDE8AFF;
  --Lime-500: #1BF294FF;
  --Lime-400: #4DF9ADFF;
  --Lime-300: #66FFBCFF;
  --Lime-200: #A6FCD6FF;
  --Lime-100: #D2FDEBFF;
  --Lime-50: #E8FEF4FF;
  --Lemon-950: #191606FF;
  --Lemon-900: #322D0DFF;
  --Lemon-800: #64591AFF;
  --Lemon-700: #968627FF;
  --Lemon-600: #C8B234FF;
  --Lemon-550: #E1C93BFF;
  --Lemon-500: #FADF41FF;
  --Lemon-400: #FBE567FF;
  --Lemon-300: #FCEC8DFF;
  --Lemon-200: #FDF2B3FF;
  --Lemon-100: #FEF9D9FF;
  --Lemon-50: #FEFBEBFF;
  --Blue-950: #07151AFF;
  --Blue-900: #0E2933FF;
  --Blue-800: #1C5266FF;
  --Blue-700: #2B7B99FF;
  --Blue-600: #39A4CCFF;
  --Blue-550: #40B8E5FF;
  --Blue-500: #47CDFFFF;
  --Blue-400: #6CD7FFFF;
  --Blue-300: #91E1FFFF;
  --Blue-200: #B5EBFFFF;
  --Blue-100: #DAF5FFFF;
  --Blue-50: #ECFAFFFF;
  --Rosso-Corsa-950: #150000FF;
  --Rosso-Corsa-900: #360000FF;
  --Rosso-Corsa-800: #550000FF;
  --Rosso-Corsa-700: #7F0000FF;
  --Rosso-Corsa-600: #AA0000FF;
  --Rosso-Corsa-550: #BF0000FF;
  --Rosso-Corsa-500: #D40000FF;
  --Rosso-Corsa-400: #DD3333FF;
  --Rosso-Corsa-300: #E56666FF;
  --Rosso-Corsa-200: #EE9999FF;
  --Rosso-Corsa-100: #F6CCCCFF;
  --Rosso-Corsa-50: #FAE5E5FF;
  --Rosso-Dino-950: #180702FF;
  --Rosso-Dino-900: #381005FF;
  --Rosso-Dino-800: #611C09FF;
  --Rosso-Dino-700: #912A0DFF;
  --Rosso-Dino-600: #C23812FF;
  --Rosso-Dino-550: #DA3F14FF;
  --Rosso-Dino-500: #F24616FF;
  --Rosso-Dino-400: #F56B45FF;
  --Rosso-Dino-300: #F79073FF;
  --Rosso-Dino-200: #FAB5A2FF;
  --Rosso-Dino-100: #FCDAD0FF;
  --Rosso-Dino-50: #FDECE7FF;
  --Rosso-Dino-25: #FEF6F3FF;
  --Orange-950: #190D00FF;
  --Orange-900: #321901FF;
  --Orange-800: #643202FF;
  --Orange-700: #954C02FF;
  --Orange-600: #C76503FF;
  --Orange-550: #E07104FF;
  --Orange-500: #F97E04FF;
  --Orange-400: #FA9836FF;
  --Orange-300: #FBB268FF;
  --Orange-200: #FDCB9BFF;
  --Orange-100: #FEE5CDFF;
  --Orange-50: #FEF2E5FF;
  --Warm-Grey-950: #0E0D0CFF;
  --Warm-Grey-900: #1C1A19FF;
  --Warm-Grey-800: #373432FF;
  --Warm-Grey-700: #534E4AFF;
  --Warm-Grey-600: #6E6863FF;
  --Warm-Grey-500: #8A827CFF;
  --Warm-Grey-400: #A19B96FF;
  --Warm-Grey-300: #B9B4B0FF;
  --Warm-Grey-200: #D0CDCBFF;
  --Warm-Grey-100: #E8E6E5FF;
  --Warm-Grey-50: #F3F2F1FF;
  --Cool-Grey-950: #0E0F0EFF;
  --Cool-Grey-900: #1B1E1DFF;
  --Cool-Grey-800: #363B39FF;
  --Cool-Grey-700: #525956FF;
  --Cool-Grey-600: #6D7672FF;
  --Cool-Grey-500: #88948FFF;
  --Cool-Grey-400: #A0A9A5FF;
  --Cool-Grey-300: #B8BFBCFF;
  --Cool-Grey-200: #CFD4D2FF;
  --Cool-Grey-100: #E7EAE9FF;
  --Cool-Grey-50: #F3F4F3FF;
  --Foundation-Black: #000000FF;
  --Font-Family-Display: Work Sans Black;
  --Font-Family-Headings: Work Sans;
  --Font-Family-Body: Work Sans;
  --Font-Weight-Regular: Regular;
  --Font-Weight-Semibold: 600;
  --Scale-0: 0px;
  --Scale-25: 1px;
  --Scale-50: 2px;
  --Scale-100: 4px;
  --Scale-200: 8px;
  --Scale-300: 12px;
  --Scale-400: 16px;
  --Scale-500: 20px;
  --Scale-600: 24px;
  --Scale-700: 28px;
  --Scale-800: 32px;
  --Scale-900: 36px;
  --Scale-1000: 40px;
  --Scale-1100: 48px;
  --Scale-1200: 56px;
  --Scale-1300: 64px;
  --Scale-1400: 72px;
  --Scale-1500: 80px;
  --Scale-1600: 96px;
  --Scale-1700: 120px;
  --Scale-1800: 256px;
  --Scale-1900: 512px;
  --Font-Weight-Bold: Bold;
}